*{
    background-color: black;
    margin: 0;
    padding: 0;
}
.container{
background-color: white;
width: 80%;
min-height: 100vh;
margin: auto;
box-sizing: border-box;
}
h1{
    display: inline;
    width: 50%;
background-color: white;
}
.paras{
background-color: gray;
word-spacing: 3px;
letter-spacing: 1px;
padding: 20px;
}
.button{
    
    background-color: white;
    transition: all 0.5s;
padding: 5px;

}
.button:hover{
    background-color: blue;
}
#inputtext{
    background-color: white;
    padding: 5px;
}